#color-pane {
	height: 100%;
	width: 250px;

	position: relative;
    display: inline-block;
    vertical-align: top;

    color: #d3d3d3;
    background: #1b1e23;
    opacity: 0.85;

    overflow-y: auto;
    overflow-x: auto;
}

#color-pane::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #1b1e23;
}

#color-pane::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #1b1e23;
}
 
#color-pane::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgb(0, 0, 0);
}