#visualization-pane > .visualization-pane-legend {
	position: absolute;
	top: 0px;
	
	margin-top: 10px;
	margin-left: 15px;

	pointer-events: none;
}

#visualization-pane > .visualization-pane-legend > .legend-item {
    white-space: nowrap;
    margin-bottom: 5px;

    display: flex;
    align-items: center;

    pointer-events: auto;
    cursor: pointer;
}

#visualization-pane > .visualization-pane-legend > .legend-item > .color {
	display: inline-block;

	width: 25px;
    height: 8px;
    margin-right: 10px;
    border-radius: 1px;

    transition: 0.3s;
}

#visualization-pane > .visualization-pane-legend > .legend-item:hover > .color {
    -webkit-box-shadow: 0px 0px 2px 1px currentColor;
    -moz-box-shadow: 0px 0px 2px 1px currentColor;
    box-shadow: 0px 0px 2px 1px currentColor;
}

#visualization-pane > .visualization-pane-legend > .legend-item > .label {
	font-size: 12px;
	font-weight: 300;
	color: #3d3d3d;
}